<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,42}</string>
                <key>spriteSourceSize</key>
                <string>{640,42}</string>
                <key>textureRect</key>
                <string>{{206,309},{640,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,63},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,63},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{165,63},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,145},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,145},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{165,145},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,227},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,227},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{165,227},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{1,309},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money_pad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{95,309},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{96,588},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{1,402},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{95,402},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>restart_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,173}</string>
                <key>spriteSourceSize</key>
                <string>{171,173}</string>
                <key>textureRect</key>
                <string>{{1,1190},{171,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{1,495},{91,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sound_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{96,495},{91,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sound_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{1,588},{91,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>target_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{104,682},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,98}</string>
                <key>spriteSourceSize</key>
                <string>{101,98}</string>
                <key>textureRect</key>
                <string>{{1,682},{101,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,782},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,784},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,884},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,886},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,986},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,988},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1088},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>all.png</string>
            <key>size</key>
            <string>{249,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:672f8862b1de7c341f83068d54a2605b:67ecbb6f68b7c9cd86544d476505f5d2:928a4ce365e7133476de68860937c334$</string>
            <key>textureFileName</key>
            <string>all.png</string>
        </dict>
    </dict>
</plist>
