<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,963},{640,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1285,1},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{963,963},{640,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{1926,1604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e777ad7e002ef4e6ca36e877abb943ae:e03d1ef94810a841cf4f26c908a9a030:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
