<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,959}</string>
                <key>spriteSourceSize</key>
                <string>{640,959}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,959}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,101}</string>
                <key>spriteSourceSize</key>
                <string>{97,101}</string>
                <key>textureRect</key>
                <string>{{748,827},{97,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,38}</string>
                <key>spriteSourceSize</key>
                <string>{95,38}</string>
                <key>textureRect</key>
                <string>{{1,880},{95,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{235,643},{224,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>more_btn_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{109,110}</string>
                <key>textureRect</key>
                <string>{{636,827},{109,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_btn_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,235}</string>
                <key>spriteSourceSize</key>
                <string>{232,235}</string>
                <key>textureRect</key>
                <string>{{1,643},{232,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_btn_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,111}</string>
                <key>spriteSourceSize</key>
                <string>{109,111}</string>
                <key>textureRect</key>
                <string>{{297,827},{109,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sound_btn_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,111}</string>
                <key>spriteSourceSize</key>
                <string>{109,111}</string>
                <key>textureRect</key>
                <string>{{410,827},{109,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sound_btn_e_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,111}</string>
                <key>spriteSourceSize</key>
                <string>{109,111}</string>
                <key>textureRect</key>
                <string>{{523,827},{109,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,182}</string>
                <key>spriteSourceSize</key>
                <string>{517,182}</string>
                <key>textureRect</key>
                <string>{{297,643},{517,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{961,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb4641ae0f4da760df77e147209e10ef:fba430dec8854cb6e0f25baf0dcce5dc:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
